<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="thme-color" content="#8257E5">
  <link rel="stylesheet" href="/styles/main.css"> 
  <link rel="stylesheet" href="/styles/partials/page-landing.css"> 
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
  <title>Squad | Encontre seu squad aqui!</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
</head>
<body id="page-landing">

  <div id="container">
    <div class="logo-container">
      <img src="/images/logo2.svg" alt="Proffy">
      <h2>Encontre players para sua partida online</h2>
    </div>

    <img class="hero-image" src="/images/banner-squuad-Recuperado.png" alt="">


    <div class="buttons-container">
      <a class="study" href="/study">
        <img src="/images/icons/zoom-button.svg" alt="Estudar">
        Encontrar squad
      </a>
      <a class="give-classes" href="/give-classes">
        <img src="/images/icons/squad-button.svg" alt="Dar aulas">
        Anunciar vaga
      </a>
    </div>

    <p class="total-connections">
      Total de 200 times formados
      <img class="team" src="/images/icons/team2.svg" alt="Coração roxo">
    </p>
  </div>

</body>
</html>